* {
    margin: 0;
    padding: 0;
    font-size: 20px;
}

/*Navigatiemenu*/

.header {
    background-color: #3b423a;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.header-home {
    background-color: #85a301;
    padding: 0 20px;
    height: 100px;
    border: 2px solid black;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}

.top-menu {
    background-color: #3b423a;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    gap: 20px
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

nav a {
    color: white;
}

nav a:hover {
    color: #80a26e;
}

.button-align {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px;
}

h2 {
    text-align: center;
    padding-bottom: 20px;
}

p {
    text-align: center;
}

/*Homepagina*/
.home-intro {
    margin: 100px 250px;
    padding: 50px;
    font-size: 25px;
    background-color: #c4c4c4;
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 100px;
}

.buttons-homepage {
    height: 250px;
    width: 250px;
    border-radius: 100%;
    background-color: #85a301;
    font-size: 18px;
    border: 2px solid black;
}

.buttons-homepage:hover {
    color: white;
    background-color: black;
}

.box-buttons {
    padding: 80px 200px 175px 200px;
    display: flex;
    justify-content: space-between;
}

.home-background {
    background: url(assets/homepage.jpg);
    min-height: 1000px;
    border: 1px solid #000000;
    background-size: 100% auto;
}

/*//Footer*/
.form-container {
    background-color: #b7bdb9;
    text-align: center;
    border: solid black 2px;
    font-size: 20px;
    padding: 40px 0;
}

.feedback-button {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    margin-top: 10px;
}

/*receptpagina*/
.button-prev-next {
    height: 50px;
    width: 50px;
    border-radius: 100px;
}

/*ingredientenpagina*/

.ingredient-background {
    background: url(assets/ingredientpage.jpg) no-repeat center center fixed;
    background-size: 100% auto;
    border: 2px solid black;
    min-height: 1000px;
}

.search-ingredients {
    display: flex;
    /*!*flex-direction: column;*!*/
    justify-content: center;
    background-color: #f09736;
    border-radius: 100px;
    padding: 20px 0;
    width: 700px;
    height: 250px;
    border: 2px solid black;
}

.search-button-ingredients-box {
    margin: 30px;
    display: flex;
    justify-content: center;
}

.search-button-ingredients {
    border-radius: 100px;
    background-color: #f09736;
    text-align: center;
    width: 100px;
    height: 100px;
    border: 2px solid black;
    margin: 0 20px;
}

.search-button-ingredients:hover:enabled {
    color: white;
}

.ingredient-explanation {
    background-color: #f09736;
    text-align: center;
    border: solid black 2px;
    margin: 150px 350px;
    font-size: 20px;
    padding: 40px 0;
    border-radius: 100px;
}

.user-fill-ingredients {
    display: flex;
    justify-content: center;
}

.send-button-ingredients-box {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.send-button-ingredients {
    background-color: #f09736;
    border-radius: 100%;
    display: flex;
    width: 100px;
    height: 100px;
}

.ingredient-result {
    width: 300px;
    height: 100px;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f09736;
    border-radius: 100px;
    text-align: center;
}

.ingredient-result:hover {
    color: black;
}

.box-results {
    border-radius: 100px;
    background-color: #80a26e;
    margin: 100px;
    min-width: 200px;
}

.box-view-recipes {
    display: flex;
    justify-content: space-evenly;
    height: 100px;
    width: 150px;
    margin: 50px;
    padding: 50px;
    border-radius: 100px;
}

.summary-recipe {
    display: flex;
    justify-content: center;
    height: 100px;
    width: 150px;
    margin: 50px;
    padding: 50px;
    border-radius: 100px;
}

/*Recipe page*/

.recipe-background {
    background: url(assets/recipe-page.jpg) no-repeat center center fixed;
    background-size: 100% auto;
    border: 2px solid black;
    min-height: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.recipe-instructions {
    background-color: #B4813B;
    border-radius: 100px;
    width: min-content;
    margin: 50px;
    padding: 50px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.recipe-header-box {
    display: flex;
    justify-content: center;
}

.header-recipe {
    background-color: #C4C4C4;
    border-radius: 100px;
    margin: 25px;
    padding: 50px 90px;
    border: 2px solid black;
    width: 500px;
}

.recipe-detailed-instructions {
    background-color: #C4C4C4;
    border-radius: 100px;
    border: 2px solid black;
    margin: 25px;
    padding: 50px 20px;
    max-width: 600px;
}

.box-recipe {
    display: flex;
    justify-content: center;
}

/*Search pagina*/

.search-background {
    background: url(assets/search-page.jpg) no-repeat center center fixed;
    background-size: 100% auto;
    min-height: 1000px;
    border: 2px solid black;
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 0 10px;
}

.search-explanation {
    margin: 25px 50px;
    padding: 25px 50px;
    background-color: #487847;
    width: 700px;
    border-radius: 100px;
    border: 2px solid black;
}

.search-explanation-box {
    display: flex;
    justify-content: center;
}

.search-recipe {
    display: flex;
    justify-content: center;
    background-color: #487847;
    border-radius: 100px;
    padding: 20px 0;
    width: 700px;
    height: 150px;
    border: 2px solid black;
}

.enter-search-box {
    display: flex;
    justify-content: center;
}

.search-button-recipe-box {
    margin: 30px 0;
    display: flex;
    justify-content: center;
}

.search-button-recipe {
    border-radius: 100px;
    background-color: #487847;
    text-align: center;
    width: 100px;
    height: 100px;
    border: 2px solid black;
    margin: 0 20px;
}

.search-button-recipe:hover:enabled {
    color: white;
}

.outer-box-buttons-results {
    display: flex;
    justify-content: space-between;
}

.recipe-results {
    display: flex;
    flex-direction: column;
    column-count: 3;
    padding: 20px;
}

.one-result {
    padding: 20px;
    margin: 20px;
    display: flex;
    justify-content: center;
    border: 5px solid grey;
    border-radius: 100px;
}

.one-result:hover {
    border-color: darkslategrey;
    background-color: #b7bdb9;
}

a {
    text-decoration: none;
    color: darkslategrey;
}

a:hover {
    text-decoration: underline;
}

.show-results {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.image-result {
    padding: 20px;
    height: 300px;
    width: 300px;
    border-radius: 100px;
}


.title-result {
    width: 300px;
    height: 100px;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #487847;
    border-radius: 100px;
    text-align: center;
}

.title-result:hover {
    color: black;
    border-radius: 150px;
}

.show-results-box {
    column-count: 3;
}

/*Register pagina*/

.register-and-login-background {
    background: url(assets/Inlog.jpg) no-repeat center center fixed;
    background-size: 100% auto;
    box-sizing: border-box;
    text-align: center;
    padding: 0 10px;
    min-height: 1000px;

}

.form-reg-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;
}

.create-account-box {
    padding: 50px 0;
    display: flex;
    justify-content: center;
}

.register-user-button {
    margin: 20px;
    background-color: #f09736;
    border-radius: 100px;
    width: 100px;
    height: 100px;
}

input {
    border-radius: 100px;
    background-color: white;
    padding: 25px;
    margin: 25px 0;
    width: fit-content;
}

.create-account {
    color: white;
    background-color: #c17e01;
    border-radius: 100px;
    width: 250px;
    height: 150px;
    padding: 20px;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
}

/*login page*/

.log-user-box {
    display: flex;
    justify-content: center;
}

.button-login {
    border-radius: 100px;
    background-color: #C17E01;
    height: 100px;
    width: 100px;
}

.login-account-box {
    padding: 50px 0;
    display: flex;
    justify-content: center;
}

.login-account {
    color: white;
    background-color: #C17E01;
    border-radius: 100px;
    width: 250px;
    height: 150px;
    padding: 20px;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*Questions pagina*/

.questions-background {
    background: url(assets/questions-page.jpg) no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.evil-banana {
    background: url(assets/banana-evil-smile.gif);
    border: 1px solid #000000;
    width: 100px;
    height: 100px;
    background-size: contain;
    border-radius: 100px;
    margin: 20px;
}

.questions-explanation {
    background-color: #E7AF96;
    border-radius: 100px;
    color: white;
    margin: 25px 50px;
    padding: 25px 50px;
    border: 2px solid black;
}

.questions-header {
    font-size: 30px;
    margin-bottom: 40px;
    text-align: center;
}

.questions {
    background-color: #E7AF96;
    border-radius: 100px;
    max-width: max-content;
    padding: 10px 40px;
    margin: 10px;
    text-align: center;
    border: 2px solid black;

}

.questions-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

select {
    border-radius: 100px;
    background-color: white;
    padding: 20px;
}

.search-button-questions-box {
    margin: 30px;
    display: flex;
    justify-content: center;
}

.button-questions {
    border-radius: 100px;
    background-color: #E7AF96;
    color: black;
    height: 100px;
    width: 100px;
    padding: 20px;
    margin: 0 20px;
}

.button-questions:hover:enabled {
    color: white;
}

.title-result-questions {
    width: 300px;
    height: 100px;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #E7AF96;
    border-radius: 100px;
    text-align: center;
}

.title-result-questions:hover {
    color: black;
}

.error-message {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    font-size: 30px;
    border-radius: 100px;
    background-color: red;
    padding: 20px;
    margin: 20px;
}

/*result pagina*/

.recepi-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
}